---
import type { Headline as Props } from '~/types';

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  tagline,
} = Astro.props;
---

{
  (title || subtitle || tagline) && (
    <div class="md:mx-auto text-center animate-on-scroll">
      {tagline && <p class="text-base text-secondary font-bold tracking-wide uppercase" set:html={tagline} />}
      {title && <h2 set:html={title} />}
      {subtitle && <p class="mt-4 text-muted" set:html={subtitle} />}
    </div>
  )
}
